* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2 {
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: rgb(253, 253, 253)
}

section [class^="container"] {
    padding: 4rem 2rem;
}

@media screen and (min-width: 1024px) {
    section [class^="container"] {
        padding: 4rem;
    }

    nav [class^="container"] {
        padding: 0 4rem;
    }
}


section:not(:first-of-type) {
    text-align: center;
}

section:nth-child(2n) {
    background-color: #ecf2ff;
}

a {
    color: #000000;
    text-decoration: none;
    transition: all 0.3s;
}

a:not(.btn):hover {
    color: #f5a841;
}

section .card,
.btn-outline-dark {
    border: 2px solid #000000;
    box-shadow: 4px 4px #000000;
    transition: all 0.4s;
}

.btn-outline-dark:hover {
    box-shadow: 4px 4px #f5a841;
}

section .card {
    max-width: 22rem;
    margin-inline: auto;
}

/* NAVBAR */

nav a:hover{
background-color: #f5a841;
}



@media screen and (min-width: 1024px) {
    .navbar-nav .nav-item {
        padding: 0 1rem;
    }

    .navbar-brand {
        font-size: 1.5rem;

    }
}

/* HERO */

section.hero {
    padding-top: 72px;
}

section.hero a {
    text-decoration: none;
    color: #000000;
}


@media screen and (max-width: 576px) {
    section.hero {
        text-align: center;
    }

    section.hero .img-fluid {
        width: 70%;
    }
}

/* SKILLS */

section.skills i {
    font-size: 2rem;
    margin: 1rem auto 0;
    border: 2px solid #000000;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.cards-col :hover {
background-color: #000000;
color: #f5a841;
}

/* ABOUT */

@media screen and (min-width: 1024px) {

    section.about .container,
    section.testimonials .container {
        width: 75%;
    }
}

/* PROJECTS */

section.projects .card {
    max-width: 17rem;
    text-align: left;
}

section.projects .card img {
    max-width: 70%;
    margin: 0 auto;
}

/* TESTIMONIALS */

section.testimonials .carousel-control-prev,
section.testimonials .carousel-control-next {
    width: 5%;
}

section.testimonials .carousel-item p {
    max-width: 80%;
    border-left: 5px solid #f5a841;
    padding-left: 1rem;
}

section.testimonials .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.testimonials .carousel.carousel-fade .carousel-item {
    transition: opacity 0.5s;
}

/* CONTACT */

section.contact .social-media a {
    padding: 0 0.5rem;
    font-size: 1.3rem;
}

section.contact a{
    text-decoration: none;
    color: #ecf2ff;
}



